.container {
  width: 100%;
  /* max-width: 1184px;  */
  /*  */
  /* padding: 32px; */
  margin: 0px auto;

  min-height: 736px;
  height: 100vh;
  /* overflow-y: scroll; */
}

/* ??delete */
/* .container.welcome-page-container {
  background-color: var(--primary-dark-grey);
  border-radius: 30px;
  height: 100vh;
  padding: 40px 64px;
  min-height: 834px;
} */

.common-page-container {
  padding: 32px;
}

.header-container {
  /* padding: 0 16px; */
  /* ......... */
  /* max-width: calc(1216px - 32px); */
}

.auth-content-box {
  position: relative;
  /* min-height: 50vh; */
  /* width: 600px; */
  /* min-height: 736px; */

  /* min-height: 100vh; */
  height: calc(100vh - 64px);
  /* min-height: 776px; */
  min-height: 825px;

  /* min-height: fit-content; */
  width: calc(50vw - 32px - 8px);
  padding: 40px 64px;
  margin: 0;
  border-radius: 30px;
  background-color: var(--primary-dark-grey);
}

.welcome-page-container {
  composes: auth-content-box;
}

.phone-box {
  composes: auth-content-box;
  /* height: calc(100vh - 64px); */
  /* height: 100%; */
  margin: 0;
  padding: 0;
  /* padding: 80px 98px; */

  padding-bottom: 0;
  background-color: var(--primary-dark-grey);
  background-image: image-set(
    url(../../../assets/static/images/iphone-1x-min.png) 1x,
    url(../../../assets/static/images/iphone-2x-min.png) 2x
  );
  /* background-position: 98px 80px; */
  /* background-size: auto 50%; */

  /* background-size: calc(100% - 32px -32px - 15px - 80px - 80px) auto; */

  /* + 10vh */
  /* background-position: center calc(100% + 80px); */

  background-position: center bottom;

  /* background-position: center calc(100% + 80px); */
  /* background-size: 80%; */
  background-size: auto calc(100% - 80px);
  /* auto calc(100% - 80px) */
  /* background-size: contain; */

  background-repeat: no-repeat;

  /* background-position: left bottom, right center;
        background-size: 308px 329px, 364px 531px; */
}

/* на певному проміжку -  */
/* background-size: contain; */

.welcome-page-phone-box {
  composes: phone-box;
  min-height: 834px;
}

@media screen and (max-width: 374px) {
  .container.phone-box {
    background-size: auto calc(100% - 40px);
    /* background-size: contain;  */
    /* background-size: calc(100% - 40px) auto; */
    /* background-position: */
    /* height: calc(50vh - 32px); */
  }
}

/* and (min-width: 320px) */
@media screen and (max-width: 767px) {
  .container {
    /* height: unset; */
    /* ???? */
  }

  .authWrapper {
    /* flex-direction: column; */
  }

  .auth-content-box {
    width: 100%;
    /* min-height: 736px; */
    padding: 20px;
    height: min-content;
    /* ???? */
    /* height: 412px; */
    min-height: unset;
  }

  .phone-box {
    height: 50vh;
    /* height: 352px; */
    min-height: unset;
    background-size: auto calc(100% - 20px);
  }

  .header-container {
    padding: 12px 20px;
    /* ......... */
    /* max-width: calc(1216px - 32px); */
  }

  .common-page-container {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .auth-content-box {
    /* height: min-content; */
  }

  .welcome-page-container {
    min-height: 834px;
    /* min-height: min-content; */
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .phone-box {
    display: none;
    height: 100%;
  }

  .authWrapper {
    /* display: flex; */
    /* display: block;
    width: 100%; */
  }

  .auth-content-box {
    width: 100%;
  }

  /* .header-container {
    max-width: 704px;
  } */
}
