.ant-picker {
  max-height: 54px;
}

.input {
  flex-basis: calc(100% / 2 - 8px);
  display: flex;
  align-items: center;
  padding: 16px 18px;
  border-radius: 12px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(17, 16, 28, 0.1);
  color: var(--primary-dark);
  font-weight: 400;
  line-height: 1.25;
}

.input::placeholder {
  color: var(--primary-dark);
}

.ant-picker-dropdown {
  filter: drop-shadow(0px 20px 69px rgba(0, 0, 0, 0.07));
  border-radius: 12px;
  max-height: 180px !important;
}

.ant-picker:is(:focus, :hover, :focus-within) {
  box-shadow: none;
  border-color: var(--primary-blue);
}

.ant-picker-dropdown .ant-picker-ranges {
  display: none;
}

.ant-picker-footer {
  display: none;
}

.ant-picker-panel-layout {
  position: relative;
}

.anticon {
  color: var(--primary-dark);
}

.anticon svg {
  width: 20px;
  height: 20px;
}

.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell
  .ant-picker-time-panel-cell-inner {
  color: var(--secondary-transperent-gray);
}

.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background-color: transparent !important;
  color: var(--primary-dark);
}

.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell
  .ant-picker-time-panel-cell-inner:hover {
  background-color: var(--secondary-light-green);
}

@media screen and (min-width: 768px) {
  .ant-picker {
    width: unset;
  }
}

.ant-picker:hover .ant-picker-clear {
  display: none;
}
