.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--backdrop);
  z-index: 1001;
  transition: var(--transition);
}

/* opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
