.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logoNavWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkBox {
  display: flex;
  gap: 40px;
  /* margin-right: 218px;
  margin-left: 336px; */
}

.navLink {
  position: relative;
  cursor: pointer;
  color: var(--primary-very-light-grey);
  padding-top: 24px;
  padding-bottom: 32px;
  /* padding: 20px 0; */
}

.active {
  color: var(--primary-white);
}

.active:after {
  content: '';
  position: absolute;
  bottom: 24px;
  left: 0;
  /* left: 45%; */
  background-color: var(--primary-blue);
  width: 100%;
  height: 3px;
  border-radius: 2px;
}

.userBtnWrapper {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .linkBox {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .linkBox {
    gap: 32px;
  }
}

/* 
.btnsBox {
  display: flex;
  margin-left: 50%;
  gap: 10px;
}

.navLink {
  position: relative;
  padding: 30px 0;
  align-self: center;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.16px;
}

.navLink:first-child,
.navLink:nth-child(2) {
  margin-right: 40px;
}

.active:after {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 45%;
  background-color: var(--primary-white);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.logoText {
  composes: navLink;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.48px;
}

.navLink:first-child.logoText {
  margin: 0;
}

.linkBox {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .logoText {
    display: none;
  }

  .navWrapper {
    width: 100%;
  }

  .btnsBox {
    display: flex;
    margin: 0;
    gap: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 959px) {
  .navLink {
    display: none;
  }

  .btnsBox {
    display: none;
  }

  .logo {
    display: contents;
  }
}

@media screen and (min-width: 960px) {
  .userBtnWrapper {
    display: flex;
    gap: 24px;
  }

  .navLink {
    display: block;
  }

  .logoNavWrapper {
    max-width: 1184px;
    min-width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .navWrapper {
    min-width: 60%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }

  .btnsBox {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .logo {
    composes: visuallyHidden;
  }
}

@media screen and (max-width: 1157px) {
  .navLink:first-child,
  .navLink:nth-child(2) {
    margin-right: 20px;
  }
}

.logo img {
  position: absolute;
  top: 16px;
  width: 30px;
} */
