header {
  position: absolute;
  left: 32px;
  right: 32px;
  top: 32px;
  min-height: 60px;
  width: calc(100vw - 64px);
  z-index: 1000;
  border-bottom: 1px solid var(--primary-light-gray);
}

.transperentHeader {
  background-color: transparent;
}

.coloredHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--primary-blue);
  border-bottom: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  header {
    left: 0;
    right: 0;
    width: 100vw;
    padding: 10px 0;
  }

  .transperentHeader {
    background-color: var(--primary-blue);
    position: fixed;
    top: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 960px) {
  header {
    padding: 0;
  }
}
