.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 0;
  width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: calc(100vh / 3);
}

.linksBox {
  margin: 0 auto;
}

.notHomePageBg,
.bg {
  position: fixed;
  z-index: 1002;
  width: 100%;
  width: 200px;
  height: 100%;
  background: var(--primary-grey);

  /* min-height: 400px; */
  min-height: 260px;

  overflow-y: scroll;
}

.navLink {
  position: relative;
  display: flex;
  color: var(--primary-dark);
  width: max-content;
  padding: 12px;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;

  color: var(--primary-very-light-grey);
  /* letter-spacing: -0.28px; */
}

.navLink svg {
  margin-right: 10px;
}

.active {
  color: var(--primary-white);
}

.active:after {
  content: '';
  position: absolute;
  bottom: 8px;
  background-color: var(--primary-blue);
  /* width: 100%; */
  width: calc(100% - 24px);

  height: 2px;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
/* 
@media screen and (max-width: 960px) {
  .sidebar {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .bg {
    margin-top: 92px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 100vw;
  }
  .bg,
  .notHomePageBg {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .sidebar {
    width: 100vw;
  }
}

@media screen and (min-width: 960px) {
  .sidebar {
    display: none;
  }
} */
