.hero {
  /* position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.wrapper {
  display: inline-flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .wrapper {
  flex-direction: column;

  }

}
