@media screen and (max-width: 960px) {
  .button {
    position: absolute;
    z-index: 999;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .button {
    top: 20px;
  }
}

@media screen and (min-width: 769px) {
  .button {
    top: 52px;
    right: 52px;
  }
  .coloredHeaderBtn {
    top: 30px;
  }
}

.coloredHeaderBtn {
  composes: button;
}
